name: Build & Test for Linux
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10.17", "3.11.12", "3.12.10" ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install pybind11
          sudo apt-get update
          sudo apt-get install cmake
          git clone https://github.com/newaetech/chipwhisperer.git -b 5.7.0
          cd chipwhisperer
          pip3 install .

      - name: Build
        run:
          pip3 install . -v

      - name: Run tests
        run: |
          cd pytest && pytest -v
