name: Build & Test for macOS
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_test:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: [ "3.12" ]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run install script
        run: |
          python -m pip install --upgrade pip
          bash ./install_mac.sh

      - name: Run tests
        run: |
          source ./venv/bin/activate
          cd pytest
          pytest -v test_fastcpa.py::test_fastcpa_cpu test_fastcpa.py::test_fastcpa_tiling_cpu 